@import '../../styles/core/colors.css';

.input {
  composes: Textbox from '../../styles/sets/Textbox.css';
  margin-bottom: 0.5rem;
}

.inputLabel {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color__optional-gray);
}
