@import '../core/colors.css';

.root {}


.title {
  background-color: transparent;
  text-align: center;
  font-size: 3em;
  border: 0;
  font-family: 'pragmatica-web-condensed';
  color: var(--color__accent);
  box-sizing: border-box;
  resize: none;
  outline: 0;
  padding-right: 150px;

  &:focus {
    border: 0;
    box-shadow: none;
  }
}
