.root {
  margin-bottom: 1rem;
}

.prepend {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  vertical-align: middle;
  line-height: 2em;

  & img {
    height: 100%;
    display: block;
  }
}

.title {
  vertical-align: middle;
  line-height: 2em;
}
