{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }], "react", "stage-0"],
  "env": {
    "production": {
      "plugins": ["emotion"]
    }
  },
  "plugins": ["emotion"]

}

