.root {
  border: 1px solid #dedede;
  background-color: #ffffff;
  color: #3e3e3e;
  padding: 0.6rem;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
  margin-bottom: 1rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.content {

}
