@import '../../styles/core/colors.css';

.root {
	display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.currentPage {
	padding-left: 2rem;
	padding-right: 2rem;
	text-transform: uppercase;
	font-weight: bold;
  min-width: 80px;
  text-align: center;
	color: var(--color__optional-gray);
  flex: 2 0 0px;
}

.button {
  flex: 1 0 0px;
}
