.root {
  opacity: 1;
  height: 22px;
  transition: transform 200ms ease;
  display: block;
  float: left;

  @media (min-width: 960px) {
    margin: 0 auto;
    float: none;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
