@import '../../../styles/core/colors.css';
@import '../../../styles/core/layers.css';

.main {
  background-color: rgb(28, 33, 29);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.secondary {
  background: linear-gradient(to bottom, rgba(251, 251, 251, 0.9) 0%,rgba(251, 251, 251, 0) 100%);
  box-sizing: border-box;
  color: black;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.2rem 1rem 0.6rem 1rem;
  text-align: right;
}

.element {
  height: 32px;
  line-height: 32px;
  border-right: 1px solid rgb(57, 57, 57);
  text-transform: uppercase;
}

.elementActionable {
  composes: element;

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: black;
  }
}

.sticky {
  z-index: var(--layer__editor-nav);
}

.headline {
  composes: elementActionable;
  font-family: var(--font__family--title);
  flex: auto;
}

.headlineInput {
  composes: headline;
  background: transparent;
  border: 0;
  height: 32px;
  padding: 0 1rem;
  color: white;
  font-size: 1.3rem;
  text-transform: none;
  outline: 0;

  &:focus {
    background: rgba(255, 255, 255, 1);
    color: black;
  }
}

.saveButton {
  composes: elementActionable;
  border: 0;
  background: rgb(111, 231, 49);
  color: black;
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
  font-size: 1rem;
  font-weight: bold;

  &[disabled] {
    background: black;
    color: rgb(60, 60, 60);
  }
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.listItem {

}

.listItemLink {
  composes: elementActionable;
  color: white;
  display: block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  &:hover {
    text-decoration: none;
  }

  &_active {
    color: rgb(111, 231, 49);
  }
}
