@import '../../../styles/core/colors.css';
@import '../../../styles/core/layers.css';

.root { }
.info { }

.main {
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(100, 100, 100, 0.08);
  box-sizing: border-box;
  color: rgb(100, 100, 100);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 68px;
  z-index: 100;
}

.secondary {
  background: linear-gradient(to bottom, rgba(251, 251, 251, 0.9) 0%,rgba(251, 251, 251, 0) 100%);
  box-sizing: border-box;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  left: 68px;
  padding: 0.4rem;
  text-align: right;
  position: fixed;
  right: 0;
  top: 32px;
}

.element {
  height: 32px;
  line-height: 32px;
  border-right: 1px solid rgb(220, 220, 220);
}

.elementActionable {
  composes: element;
}

.sticky {
  z-index: var(--layer__editor-nav);
}

.headline {
  composes: elementActionable;
  font-family: var(--font__family--title);
  flex: auto;
}

.headlineInput {
  composes: headline;
  background: transparent;
  border: 0;
  height: 32px;
  padding: 0 1rem;
  color: var(--color__accent);
  font-size: 1.3rem;
  text-transform: none;
  outline: 0;
  box-sizing: border-box;

  &::placeholder {
    color: var(--color__grey);
  }
}

.saveButton {
  composes: elementActionable;
  border: 0;
  background: var(--color__accent);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0;
  position: relative;
  right: -0.4rem;

  &[disabled] {
    background: var(--color__dull-grey);
    color: rgb(86, 86, 86);
  }
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.listItem {

}

.listItemLink {
  composes: elementActionable;
  color: rgb(100, 100, 100);
  display: block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  &:hover {
    text-decoration: none;
  }
}
.listItemLink_active {
  color: var(--color__accent);
}
