@import '../../styles/core/colors.css';

@keyframes turbo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  color: var(--color__grey);
}

.spinner {
  display: block;
  /*animation: turbo 8s linear 0s infinite;*/
  width: 60%;
  max-width: 150px;
  margin: 0 auto;

  & img {
    width: 100%;
  }
}

.message {
  display: none;
  font-style: italic;
  text-align: center;
  /* display: block; */
  font-size: 1.8em;
}
