@import '../../styles/core/colors.css';

@keyframes turbo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  color: var(--color__grey);
}

.message {
  font-style: italic;
  text-align: center;
  padding-top: 20vh;
  display: block;
  font-size: 1.8em;
}
