@keyframes little {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.2;
  }
}

.loading-pattern {
  fill: $color__grey;
}

.tiny {
  opacity: 0.2;
  animation: little 2s linear 1000ms infinite;
}

.large {
  opacity: 0.2;
  animation: little 2s linear 500ms infinite;
}

.center {
  opacity: 0.2;
  animation: little 2s linear 0s infinite;
}

