.media-edit-modal {

  &__preview-stage {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
  }

  &__preview-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__preview-video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
