.workflow-ladder {
  list-style: none;
  display: block;
  padding: 0;

  &__stage {
    display: block;
    padding: 0.5em;

    &--current {
      background-color: $color__accent;
      color: $white;
    }

    &--hidden {
      display: none;
    }
  }
}
