@import '../../../../styles/core/colors.css';

.root {
  &:before {
    content: "“";
    display: block;
    position: absolute;
    left: 0;
    font-size: 4rem;
    font-family: Georgia, serif;
    font-style: italic;
  }
}

.textarea {
  border: 0;
  font-size: 1.65rem;
  font-family: Georgia, serif;
  font-style: italic;
  background: transparent;
  outline: 0;
  box-sizing: border-box;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;

  &:focus {
    box-shadow: 0 0 2px rgba(50, 50, 50,  0.1);
  }
}
