.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & li {
    padding: 1rem;
    flex: 1 1 auto;
    max-width: 300px;
    display: block;
  }
}

.title {
  text-align: center;
  padding: 1rem 0;
}

.item {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: darkgray;
  font-style: italic;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(30, 30, 30, 0.1);
  box-sizing: border-box;
}

.logo {
  width: 100%;
  margin-bottom: 1rem;
}

.audience {
  font-style: italic;
}
