@import '../../styles/core/colors.css';

.root {

}

.body {
  padding: 15px;
}

.header {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
