@import '../../styles/core/layers.css';

.root {}
.root_active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
  z-index: var(--layer__overlay);
  display: flex;
}

.root_invisible {
  pointer-events: none;
}

.back {
  transition: all 300ms ease-out;
  background: rgba(0, 0, 0, 0.6);
  z-index: var(--layer__overlay-back);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front {
  z-index: var(--layer__overlay-front);
  position: relative;
}
