.root {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  background: linear-gradient(155deg, #6fe731 0%, #30d181 100%);

  @media (min-width: 960px) {
    box-sizing: border-box;
    width: 68px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0.4rem;
    flex-direction: column;
  }
}

.vertical_thepratex {
  background: linear-gradient(155deg, #6e23fa 0%, #5241ff 100%);
}

.vertical_thedrabx {
  background: linear-gradient(175deg, #e71e01 0%, #ff701d 100%);
}

.logoHeading {
  float: left;
  display: block;

  @media (min-width: 960px) {
    margin-bottom: 2rem;
  }

  & > a {
    display: block;
  }
}


.menu {
  margin-left: 10px;

  @media (min-width: 960px) {
    margin: 0;
  }
}


.menuItem {
  display: inline-block;
  margin: 0 0.7rem;

  @media (min-width: 960px) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.25rem;
    font-size: 0.8rem;
  }

  & a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  & span {
    font-size: 1.1em;
    display: block;
    line-height: 1em;
  }

  & img {
    width: 24px;
    margin: 0 auto;
    display: block;
    opacity: 0.6;
    mix-blend-mode: darken;

    @media (min-width: 960px) {
      width: 38px;
    }
  }

  &:hover img {
    opacity: 0.8;
  }
}

.header {
  flex: 1 1 0;
}

.footer {
  display: flex;

  @media (min-width: 960px) {
    flex-direction: column;
  }
}

.credits {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
  font-style: italic;
  margin-right: 0.5rem;

  @media (min-width: 960px) {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
  }
}

.dmLogo {
  height: 22px;
  display: block;
}

.verticalJoiner {
  float: left;
  padding: 0 0.5rem;
  font-size: 1rem;
}

.verticalLogo {
  height: 22px;
  display: block;
  float: left;

  @media (min-width: 960px) {
    width: 100%;
  }
}

