.root {
  margin-bottom: 1em;
}

.root_removable {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.avatar {
  border-radius: 50%;
  display: block;
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin-right: 0.4em;
  float: left;

  img {
    width: 100%;
  }
}

.name {
  font-size: 1em;
}

.handle {
  font-style: italic;
  opacity: 0.8;
  font-size: 0.9em;

  &::before {
    content: '@';
  }
}
