@import '../../styles/core/colors.css';

.root {
  font-size: 0.9rem;
}

.title {
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.control {
  margin-bottom: 1em;
}

.controlTitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.25em;
  color: var(--color__grey);
}


.controlTitleLimit {
  margin-left: 1em;
  color: var(--color__dull-grey);
  font-size: 0.9em;
}

.input {
  composes: Textbox from '../../styles/sets/Textbox.css';
}

.treats {
  display: inline;
  margin-left: 1em;

  & li {
    display: inline;
  }
}

.treatButton {
  border: 0;
  color: var(--color__grey);
  background-color: var(--color__outline);
  padding: 0.2rem;
  font-family: var(--base-font-family);
  font-weight: bold;
  text-transform: uppercase;
}


.warning {
  color: var(--color__warning-accent)
}

.danger {
  color: var(--color__danger-accent)
}
