@import '../../styles/core/colors.css';

.controlTitleLimit {
  margin-left: 1em;
  color: var(--color__dull-grey);
  font-size: 0.9em;
}

.warning {
  color: var(--color__warning-accent)
}

.danger {
  color: var(--color__danger-accent)
}
