.root {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(190, 190, 190, 0.9);
  border-left: 0;
  border-bottom: 0;
}

.option {
  flex: 1 1 auto;
  border-left: 1px solid rgba(190, 190, 190, 0.9);
  border-bottom: 1px solid rgba(190, 190, 190, 0.9);
  padding: 0.25em 0.5em;
  text-align: center;
  cursor: pointer;
}

.optionActive {
  background: rgba(245, 245, 245, 0.8);
  font-weight: bold;
}
