@import '../../styles/core/colors.css';


.root {
  text-align: right;
  font-size: 0.8em;
  opacity: 0.6;
  padding-right: 10px;

  & a {
    color: var(--color__black);
    text-decoration: underline;
  }

  & span {
    vertical-align: middle;
  }
}
