@import '../../../styles/core/colors.css';

.root {
  margin-top: 2rem;
}

.username {
  font-size: 0.9rem;
  text-align: right;
  color: var(--color__grey);
}

.body {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.date {
  font-size: 0.8rem;
  text-align: right;
  color: var(--color__grey);
}
