@import '../../../styles/core/colors.css';
@import '../../../styles/core/layers.css';

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: var(--layer__overlay-front);
}


.postComment {
  padding-top: 1rem;
  bottom: 0;
}
